<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PostUserController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.UserSignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSigninController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.UserSigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.ForgotPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSignupController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.DoctorSignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSigninController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.DoctorSigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminsSigninController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.AdminsSigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>App</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.AppointmentPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDeleteController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.AppointmentDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentUpdateController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.AppointmentUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateWorksController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.AdminUpdateWorksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorPayController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.DoctorPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportGeneratorController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.ReportGeneratorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.UserEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorEditController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.DoctorEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditController</servlet-name>
        <servlet-class>com.souvik.hitmca2018.controller.AdminEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostUserController</servlet-name>
        <url-pattern>/usignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSigninController</servlet-name>
        <url-pattern>/usignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassController</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSignupController</servlet-name>
        <url-pattern>/dsignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSigninController</servlet-name>
        <url-pattern>/dsignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminsSigninController</servlet-name>
        <url-pattern>/asignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App</servlet-name>
        <url-pattern>/App</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDeleteController</servlet-name>
        <url-pattern>/deleteapp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentUpdateController</servlet-name>
        <url-pattern>/Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateWorksController</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorPayController</servlet-name>
        <url-pattern>/d</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportGeneratorController</servlet-name>
        <url-pattern>/rep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditController</servlet-name>
        <url-pattern>/uedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorEditController</servlet-name>
        <url-pattern>/dedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditController</servlet-name>
        <url-pattern>/aedit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
